@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary-background: var(--primary-background);
  --color-primary-foreground: var(--primary-foreground);
  --color-border: var(--border);
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

:root {
  --background-color: #121212;
  --foreground-color: #fff;
  --primary-background: #6366f1;
  --primary-foreground: #fff;

  --border: #a5b4fc;
}

input {
  background-color: var(--background-color);
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  padding: 0.5rem 1rem;
}

input::placeholder {
  color: var(--border);
}
input:focus {
  outline: none;
  /* border: 3px solid #f00 */
}
